



<div class="col-sm-12 top-header" *ngIf="isLogin">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
     <div class="col-sm-5" style="width: 34%;">
        <ul id="nav" >
           <li><a class="main-1" href="#">Home</a>
               <ul class="more1">
                 <li><a href="#">panel</a>
                    <ul class="more2">
                        <li><a href="#">Sub Sub Item 1</a>
                            <li><a href="#">Sub Sub Item 2</a>
                    </ul>
                 </li>
                    <li><a href="#">Administration</a>
                       <ul class="more2">
                           <li><a href="#">Sub Sub Item 1</a>
                               <li><a href="#">Sub Sub Item 2</a>
                       </ul>
                    </li>
                    <li><a href="#">Tools</a>
                       <ul class="more2">
                           <li><a href="#">Sub Sub Item 1</a>
                               <li><a href="#">Sub Sub Item 2</a>
                       </ul>
                    </li>
                   <li><a href="#">Change Password</a></li>
                   <li><a href="#">Help</a></li>
                   <li><a href="#">About</a></li>
                 </ul>

                 </li>
               <li class="main-1"><a class="main-1" href="#">patient</a></li>
       </ul>
     </div>
    <div class="search-box col-sm-6">
     <input type="text" placeholder="Search">
     <button class="btn btn-primary">Search</button>
    </div>
  </div>
  <div class="col-sm-4 right-sec plr-0">
     <div class="col-sm-10 inner-txt plr-0">
        <a href="#">Medilogik Hospital</a>
        <span>-</span>
        <p>TEST, Cardinality</p>
     </div>
     <div class="col-sm-2" style="padding: 10px 0px; text-align: right;">
        <button class="btn btn-primary">Logout</button>
     </div>
  </div>
</div>
