<div id="menu3" class="tab-pane fade in active" style="margin-top: 10px;">
    <div class="col-sm-12 text-right plr-0">
       <p class="dis-in mr-10">Updated an hour</p>
       <button class="btn btn-primary">Refresh</button>
    </div>
    <div class="col-sm-12 plr-0">
     <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Identifier<i class="fa fa-filter"></i></th>
            <th>Patient<i class="fa fa-filter"></i></th>
            <th>Step Identifer<i class="fa fa-filter"></i></th>
            <th>Staff<i class="fa fa-filter"></i></th>
            <th>Location<i class="fa fa-filter"></i></th>
            <th>Locked<i class="fa fa-filter"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
          </tr>
        </tbody>
      </table>
    </div>
 </div>