#nav {
    list-style: none inside;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav li {
    display: block;
    position: relative;
    float: left;
    background: transparent;
    /* menu background color */
}
#nav li .main-1{
    padding: 13px 0px;
}

#nav li a {
    display: block;
    padding: 7px 0px;
    text-decoration: none;
    width: 110px;
    /* this is the width of the menu items */
    
    /* this is the hieght of the menu items */
    color: #fbaa1e;
    /* list item font color */
}
#nav .more1 i{
    position: absolute;
    right: 10px;
    top: 10px;
}
#nav .more1{
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid #999;
    border-radius: 2px;
    color: #333;
    text-align: left;
    z-index: 999;
}
#nav .more2{
    background-color: #eee;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid #ccc;
    color: #333;
    border-radius: 2px;
    text-align: left;
}
#nav .more1 li a{
    width: 150px;
}
#nav .more1 li a{
    border-bottom: 1px solid #ddd;
    color: #333;
    margin: 0px 10px;
}
#nav .more2 li a{
    border-bottom: 0;
    width: 200px;
}

#nav li li a {
    font-size: 80%;
}

/* smaller font size for sub menu items */

#nav li:hover {
    background: #3eb5f159;
}

/* highlights current hovered list item and the parent list items when hovering over sub menues */

#nav ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
    /* hides sublists */
}

#nav li:hover ul ul {
    display: none;
}

/* hides sub-sublists */

#nav li:hover ul {
    display: block;
}

/* shows sublist on hover */

#nav li li:hover ul {
    display: block;
    /* shows sub-sublist on hover */
    margin-left: 170px;
    /* this should be the same width as the parent list item */
    margin-top: -33px;
    /* aligns top of sub menu with top of list item */
}