<div id="menu5" class="tab-pane fade in active" style="margin-top: 10px;">
    <div class="col-sm-6 plr-0">
       <div class="col-sm-1 plr-0" style="width: 4%;">
          <p class="pt-10 mb-0">Site</p>
       </div>
       <div class="col-sm-5">
        <div class="form-group">
           <select class="form-control">
              <option>Select</option>
              <option>Any</option>
              <option>Another Hospital</option>
              <option>Medilogik Hospital</option>
            </select>
          </div>
       </div>
    </div>
    <div class="col-sm-6 text-right plr-0">
          <p class="dis-in mr-10">Updated an hour</p>
          <button class="btn btn-primary">Refresh</button>
       </div>
       <div class="col-sm-12 plr-0">
          <div class="col-sm-6 plr-0 para-b">
             <div class="col-sm-12 summary-list pl-0">
                <div class="col-sm-12 plr-0">
                   <h3 class="Heading">Waiting List</h3>
                </div>
                <div class="col-sm-12 summary-head-bg text-right">
                   <p>MA</p>
                </div>
                <div class="col-sm-12 summary-data-white">
                   <div class="col-sm-6">
                      <p>Awaiting Vetting</p>
                   </div>
                   <div class="col-sm-6 text-right">
                      <p>0</p>
                   </div>
                </div>
                <div class="col-sm-12 summary-data-bg">
                   <div class="col-sm-6">
                      <p>Booking Invitation Sent</p>
                   </div>
                   <div class="col-sm-6 text-right">
                      <p>0</p>
                   </div>
                </div>
                <div class="col-sm-12 summary-data-white">
                   <div class="col-sm-6">
                      <p>Booking Invitation Reminder Sent</p>
                   </div>
                   <div class="col-sm-6 text-right">
                      <p>0</p>
                   </div>
                </div>
                <div class="col-sm-12 summary-data-bg">
                   <div class="col-sm-6">
                      <p>Awaiting Rescheduling</p>
                   </div>
                   <div class="col-sm-6 text-right">
                      <p>0</p>
                   </div>
                </div>
             </div>
             <div class="col-sm-12 summary-list pl-0">
                
                <div class="col-sm-12 plr-0">
                   <h3 class="Heading">Remaining Capacity</h3>
                </div>
                <div class="col-sm-12 summary-head-bg text-right">
                   <p>MA</p>
                </div>
                <div class="col-sm-12 summary-data-white">
                   <div class="col-sm-6">
                      <p>Today</p>
                   </div>
                   <div class="col-sm-6 text-right">
                      <p>0.0</p>
                   </div>
                </div>
                <div class="col-sm-12 summary-data-bg">
                   <div class="col-sm-6">
                      <p>Next 7 days</p>
                   </div>
                   <div class="col-sm-6 text-right">
                      <p>0.0</p>
                   </div>
                </div>
                <div class="col-sm-12 summary-data-white">
                   <div class="col-sm-6">
                      <p>Next 30 days</p>
                   </div>
                   <div class="col-sm-6 text-right">
                      <p>0.0</p>
                   </div>
                </div>
                
             </div>
             <div class="col-sm-12 summary-list pl-0">
                <div class="col-sm-12 plr-0">
                   <h3 class="Heading">Results</h3>
                </div>
                <div class="col-sm-12 summary-head-bg text-right">
                   <p>MA</p>
                </div>
                <div class="col-sm-12 summary-data-white">
                   <div class="col-sm-6">
                      <p>Outstanding Urease Results</p>
                   </div>
                   <div class="col-sm-6 text-right">
                      <p>0</p>
                   </div>
                </div>
                <div class="col-sm-12 summary-data-bg">
                   <div class="col-sm-6">
                      <p>Awaiting Pathology</p>
                   </div>
                   <div class="col-sm-6 text-right">
                      <p>0</p>
                   </div>
                </div>
                
             </div>
             
          </div>
          <div class="col-sm-6 plr-0 para-b">
             <div class="col-sm-12 summary-list pr-0">
                <div class="col-sm-12">
                   <h3 class="Heading">Patient Status</h3>
                </div>
                <div class="col-sm-12">
                   <p>No data available</p>
                </div>
             </div>
             
          </div>
       </div>
  </div>