<div id="menu2" class="tab-pane fade in active" style="margin-top: 10px;">
    <div class="col-sm-12 log-viewer">
       <div class="col-sm-12 plr-0">
         <div class="col-sm-6 plr-0">
            <div class="col-sm-2">
               <p class="mb-10 mt-10">Activity From</p>
            </div>
            <div class="col-sm-3 plr-0 customdate">
               <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                  <input class="form-control" type="text" />
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </div>
            <div class="col-sm-1">
               <p class="mb-10 mt-10">To</p>
            </div>
            <div class="col-sm-3 plr-0 customdate">
               <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                  <input class="form-control" type="text" />
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </div>
            <div class="col-sm-3" style="margin-top: 1px;">
               <button class="btn btn-primary">Clear</button>
            </div>
         </div>
         <div class="col-sm-6 text-right" style="margin-top: 1px;">
            <button class="btn btn-primary">Reset All</button>
         </div>
       </div>
       <div class="col-sm-12 plr-0 pt-10">
          <div class="col-sm-3">
            <p class="dis-in mr-10">Patient Hospital Identifier</p>
            <input class="input-sec w-177 form-control" type="text">
          </div>
          <div class="col-sm-2">
            <p class="dis-in mr-10">Patient NHS No.</p>
            <input class="input-sec form-control" type="text">
          </div>
          <div class="col-sm-2">
            <p class="dis-in mr-10">Patient CHI No.</p>
            <input class="input-sec form-control" type="text">
          </div>
          <div class="col-sm-2 w-15">
            <p class="dis-in mr-10">Episode ID</p>
            <input class="input-sec form-control" type="text">
          </div>
          <div class="col-sm-2">
            <p class="dis-in mr-10">Procedure ID</p>
            <input class="input-sec form-control" type="text">
          </div>
       </div>

       <div class="col-sm-12 plr-0 pt-10">
          <div class="col-sm-1" style="width: 8.5%;">
             <p class="mb-0 mt-10">Staff Member</p>
          </div>
          <div class="col-sm-3 plr-0">
            <div class="form-group custom-sel mb-0">
               <select class="form-control">
                  <option>Select</option>
                  <option>TEST, Cardinality</option>
                  <option>WALLACE, Sheila</option>
                  <option>SHEWAN, Niamh</option>
                </select>
              </div>
           </div>
           <div class="col-sm-2">
              <button class="btn btn-primary mt-5">Clear</button>
           </div>
          </div>
          <div class="col-sm-12 plr-0 pt-10">
             <div class="col-sm-6 plr-0">
               <div class="col-sm-1" style="width: 15%;">
                  <p class="mb-0 mt-10">Action Type</p>
               </div>
               <div class="col-sm-2 plr-0">
                 <div class="form-group custom-sel mb-0">
                    <select class="form-control">
                       <option>All</option>
                       <option>Added</option>
                       <option>Deleted</option>
                       <option>Merge</option>
                     </select>
                   </div>
                </div>
             </div>
             <div class="col-sm-6 text-right pt-10">
               <button class="btn btn-primary">Search</button>
            </div>
          </div>
    </div>
    <div class="col-sm-12 plr-0 pt-10">
      <table class="table table-bordered table-striped">
         <thead>
           <tr>
            <th>Action</th>
             <th>Time</th>
             <th>Description</th>
             <th>Patient</th>
             <th>User</th>
             <th>Workstation</th>
             <th>Episode ID</th>
             <th>Procedure ID</th>
             <th>Item ID</th>
             <th>Item Type</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           
         </tbody>
       </table>
    </div>
    
   </div>