

<!-- <p *ngIf="(showVettingValidationCategory$ | async) as  showVettingValidationCategory">
    {{showVettingValidationCategory}}  -->
 <!-- </p> -->
<router-outlet></router-outlet>


<br>
<br>
<!-- <app-footer></app-footer> -->