<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="col-sm-6 plr-0">
         <div class="col-sm-1 plr-0" style="width: 4%;">
            <p class="pt-10 mb-0">Site</p>
         </div>
         <div class="col-sm-5">
          <div class="form-group">
             <select class="form-control">
                <option>Select</option>
                <option>Any</option>
                <option>Another Hospital</option>
                <option>Medilogik Hospital</option>
              </select>
            </div>
         </div>
      </div>
      <div class="col-sm-6 text-right plr-0">
            <p class="dis-in mr-10">Updated an hour</p>
            <button class="btn btn-primary">Refresh</button>
         </div>
         <div class="col-sm-12 plr-0">
          <table class="table table-bordered table-striped">
             <thead>
               <tr>
                 <th>Identifier<i class="fa fa-filter"></i></th>
                 <th>Patient<i class="fa fa-filter"></i></th>
                 <th>Refferal Date<i class="fa fa-filter"></i></th>
                 <th>Room<i class="fa fa-filter"></i></th>
                 <th>Procedure<i class="fa fa-filter"></i></th>
                 <th>Procedure Date<i class="fa fa-filter"></i></th>
                 <th>Endoscopist<i class="fa fa-filter"></i></th>
                 <th>Status<i class="fa fa-filter"></i></th>
                 <th>Action</th>
               </tr>
             </thead>
             <tbody>

              <!-- *<ng-container *ngIf="(activeEpisodes$ | async).panelData as activeEpisodes.length > 0; else activeEpisodesNoData"> -->
                <ng-container *ngIf="activeEpisodes$ | async let activeEpisodes">
                <tr *ngFor="let activeEpisode of activeEpisodes.panelData">
                  <td>{{activeEpisode.patientLocalIdentifier}}</td>
                  <td>{{activeEpisode.patientFullName}}</td>
                  <td>{{activeEpisode.episodeReferralDate}}</td>
                  <td>{{activeEpisode.roomName}}</td>
                  <td>{{activeEpisode.procedureCombinationName}}</td>
                  <td>{{activeEpisode.episodeProcedureDate}}</td>
                  <td>{{activeEpisode.endoscopistFullName}}</td>
                  <td>{{activeEpisode.patientStatus}}</td>
                  <td></td>
                </tr>
</ng-container>
              <!-- </ng-container>
              <ng-template #activeEpisodesNoData>
                <tr>
                  <td>No Data Found</td>
                  <tr> -->
              <!-- </ng-template> -->
              
               


               <!-- <tr>
                 <td>010645</td>
                 <td>GREGORY, Mia</td>
                 <td>14-Dec-2019</td>
                 <td></td>
                 <td>Colonoscopy</td>
                 <td></td>
                 <td></td>
                 <td>Appointment Cancelled - Episode Pending Cancellation</td>
                 <td></td>
               </tr>
               <tr>
                <td>010645</td>
                <td>GREGORY, Mia</td>
                <td>14-Dec-2019</td>
                <td></td>
                <td>Colonoscopy</td>
                <td></td>
                <td></td>
                <td>Appointment Cancelled - Episode Pending Cancellation</td>
                <td></td>
              </tr>
              <tr>
                <td>010645</td>
                <td>GREGORY, Mia</td>
                <td>14-Dec-2019</td>
                <td></td>
                <td>Colonoscopy</td>
                <td></td>
                <td></td>
                <td>Appointment Cancelled - Episode Pending Cancellation</td>
                <td></td>
              </tr>
              <tr>
                <td>010645</td>
                <td>GREGORY, Mia</td>
                <td>14-Dec-2019</td>
                <td></td>
                <td>Colonoscopy</td>
                <td></td>
                <td></td>
                <td>Appointment Cancelled - Episode Pending Cancellation</td>
                <td></td>
              </tr>
              <tr>
                <td>010645</td>
                <td>GREGORY, Mia</td>
                <td>14-Dec-2019</td>
                <td></td>
                <td>Colonoscopy</td>
                <td></td>
                <td></td>
                <td>Appointment Cancelled - Episode Pending Cancellation</td>
                <td></td>
              </tr> -->
             </tbody>
           </table>
         </div>

      </div>
    </div>