
body {
    font-family: "Poppins", Sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;

}
.top-header{
    width: 100%;
    background: #033363 !important;

}
.dis-in{
    display: inline-block;
}
.right-sec a, .right-sec p{
    color: #fbaa1e;
}
.right-sec p{
    display: inline-block;
    margin-bottom: 0;
}
.right-sec span{
    color: #fff;
    padding: 0px 10px;
}
.right-sec .inner-txt{
    padding: 13px 15px;
    text-align: right;
}
.search-box{
    padding: 10px 0px;
}
.btn-primary{
    padding: 3px 12px;
    border-color: #999;
    background: #033363;
    font-size: 13px;

}
.btn-secondary{
    padding: 3px 12px;
    border-color: #999;
    background: #eeeeee;
    font-size: 13px;
}
.tab-sec .nav-tabs li{
    border: 1px solid #999;
    background: #ccc;
    color: #333;
    border-bottom: 0;

}
.tab-sec .nav>li>a{
    font-size: 12px;
    margin-right: 0px;
    padding: 5px 15px;
    color: #333;
}
.tab-sec .nav-tabs li img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: -3px;
}
.pt-10{
    padding-top: 10px;
}
.tab-sec .tab-content{
    padding: 15px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.plr-0{
    padding-left: 0px;
    padding-right: 0px;
}
.mb-0{
    margin-bottom: 0px;
}
.mr-10{
    margin-right: 10px;
}
.table-striped>tbody>tr:nth-of-type(even){
    background-color: #d9edf7;
}
.table-striped>tbody>tr:nth-of-type(odd){
    background: transparent;
}
.table-striped tbody tr:hover{
    background: #3eb5f159;
}
.table-striped thead tr{
    background: #d9edf7;
}
.table-striped thead tr th i{
    float: right;
    margin-top: 3px;
}
.mb-10{
    margin-bottom: 10px;
}
.log-viewer{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fbd08840;
    padding: 15px;
}
/* .customdate #datepicker{width:180px; margin: 0 20px 20px 20px;} */
.customdate #datepicker > span:hover{cursor: pointer;}

.customdate #datepicker .form-control{
    height: 30px;
    padding: 0px 12px;
}
.customdate #datepicker .input-group-addon{
    padding: 6px 5px;
    font-size: 12px;
    color: #033363;

}
.mt-10{
    margin-top: 10px;
}