<div class="col-sm-12 pt-10 tab-sec">
<ul class="nav nav-tabs">
    <li routerLinkActive="active"><a data-toggle="tab" routerLink="../dashboard/active-episodes">Active Episodes<img src="assets/images/close-icon.webp" alt=""></a></li>
    <li routerLinkActive="active"><a data-toggle="tab" routerLink="../dashboard/awaiting-vetting">Awaiting Vetting<img src="assets/images/close-icon.webp" alt=""></a></li>
    <li routerLinkActive="active"><a data-toggle="tab" routerLink="../dashboard/daily-list">Daily List<img src="assets/images/close-icon.webp" alt=""></a></li>
    <li routerLinkActive="active"><a data-toggle="tab" routerLink="../dashboard/audit-log">Audit Log Viewer<img src="assets/images/close-icon.webp" alt=""></a></li>
    <li routerLinkActive="active"><a data-toggle="tab" routerLink="../dashboard/episode-locks">Episode Locks<img src="assets/images/close-icon.webp" alt=""></a></li>
    <li routerLinkActive="active"><a data-toggle="tab" routerLink="../dashboard/reporting">Reporting<img src="assets/images/close-icon.webp" alt=""></a></li>
    <li routerLinkActive="active"><a data-toggle="tab" routerLink="../dashboard/summary">Summary<img src="assets/images/close-icon.webp" alt=""></a></li>
  </ul>
  <router-outlet></router-outlet>

  </div>