<div id="menu1" class="tab-pane fade in active" style="margin-top: 10px;">
    <div class="col-sm-12 plr-0 mb-10">
       <button class="btn btn-primary">Today</button>
       <button class="btn btn-secondary">Tomorrow</button>
       <button class="btn btn-secondary">Day</button>
       <button class="btn btn-secondary">Range</button>
    </div>
    <div class="col-sm-3 plr-0">
       <div class="col-sm-1 plr-0">
          <p class="pt-10 mb-0">Site</p>
       </div>
       <div class="col-sm-8">
        <div class="form-group">
           <select class="form-control">
              <option>Select</option>
              <option>Any</option>
              <option>Another Hospital</option>
              <option>Medilogik Hospital</option>
            </select>
          </div>
       </div>
    </div>
    <div class="col-sm-3 plr-0">
       <div class="col-sm-3 plr-0">
          <p class="pt-10 mb-0">Endoscopist</p>
       </div>
       <div class="col-sm-8">
        <div class="form-group">
           <select class="form-control">
              <option>Select</option>
              <option>TEST, Cardinality</option>
              <option>WALLACE, Sheila</option>
              <option>SHEWAN, Niamh</option>
            </select>
          </div>
       </div>
    </div>
    <div class="col-sm-6 text-right plr-0">
          <p class="dis-in mr-10">Updated an hour</p>
          <button class="btn btn-primary">Refresh</button>
       </div>
       <div class="col-sm-12 plr-0">
        <table class="table table-bordered table-striped">
           <thead>
             <tr>
               <th>TCI<i class="fa fa-filter"></i></th>
               <th>Appointment Time<i class="fa fa-filter"></i></th>
               <th>Room<i class="fa fa-filter"></i></th>
               <th>Pat. Man.<i class="fa fa-filter"></i></th>
               <th>Appointment Type<i class="fa fa-filter"></i></th>
               <th>Points<i class="fa fa-filter"></i></th>
               <th>Procedure<i class="fa fa-filter"></i></th>
               <th>Identifier<i class="fa fa-filter"></i></th>
               <th>Patient<i class="fa fa-filter"></i></th>
               <th>Notes<i class="fa fa-filter"></i></th>
               <th>Status<i class="fa fa-filter"></i></th>
               <th>Action</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let item of dailyList">
               <td>{{item.TCI}}</td>
               <td>{{item.appointmenttime}}</td>
               <td>{{item.room}}</td>
               <td>{{item.pat}}</td>
               <td>{{item.appointmenttype}}</td>
               <td>{{item.points}}</td>
               <td>{{item.proceducure}}</td>
               <td>{{item.identifier}}</td>
               <td>{{item.patient}}</td>
               <td></td>
               <td>{{item.status}}</td>
               <td></td>
             </tr>
             
           </tbody>
         </table>
       </div>
 </div>